<?xml version="1.0"?>
<!--
/**
 * @author     X2Y Development team <dev@x2y.io>
 * @copyright  2023 X2Y Development team
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="ecentric" frontName="ecentric">
            <module name="Ecentric_Payment"/>
        </route>
    </router>
</config>
